<p>
  category works!
</p>

<div class="container">
  <mat-form-field>
    
    <input matInput placeholder="Position">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Description"></textarea>
  </mat-form-field>

  <!-- <mat-form-field>
    <mat-select placeholder="Skills">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field> -->

  <button mat-button>Create New</button>
</div>

<!-- <div class="container">
  <mat-list>
    <mat-list-item *ngFor="let message of messages">
      <h3 matLine> {{message.from}} </h3>
      <p matLine> {{message.subject}} </p>
      <p matLine class="demo-2"> {{message.content}} </p>
    </mat-list-item>
  </mat-list>
</div> -->